h1 {
    color: blue
}



input {

    font-size: 20px;

    }

    
    div{
    
    width:400px;
    
    height:250px;
    
    border-style: solid;
    
    border-color: orange;
    
    }
    
    .center {
    
    margin: auto;
    
    padding: 10px;
    
    }
    
